
<h1>Template referance variable</h1>
<input type="text"  #box>
<button (click)="getInput(box)">Call function</button>
<p> {{displayValue}} </p>

<hr>

<div class="container bg-warning ">
  <h1 class="ms-5 mt-4 text-danger">{{title}} </h1>
  <input class="mt-5 w-50 ms-5 p-3" type="text" placeholder="Enter new task " #box  /> <br> <br>
 <button (click)="addTask(box.value)"   class="btn btn-success ms-5 mb-5">Add Task</button> <br> <br>
 <ul class=" bg-dark text-light p-3 mb-5" *ngFor="let item of list" >
  <li class=" mb-5">{{item.name}} <button class="bg-danger text-light" (click)="removeTask(item.id) ">Remove</button></li>
  
</ul>
</div>
















<!-- send data parent To  child component -->
<h1 class="mt-5">Send data Parent to child component:</h1>
<div class="container bg-danger mt-5 text-light">
 
  <app-child-component [props]="parentData">
   
  </app-child-component>
</div>
<div class="d-flex justify-content-center mt-3">
  <button (click)="updateChild()" class=" btn btn-success">Update child component</button>
</div><br><br><br>
<hr>
<h2>Reusable component</h2>


<ul *ngFor="let user of userDetails">
  <app-child-component1 [item]='user'>

  </app-child-component1>
</ul>




